doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" href="css/style.css")
    script(rel="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js" defer)
    script(rel="text/javascript" src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" defer)
    script(rel="text/javascript" src="js/app.js" defer)
    title= title
  body
    block content
