body {
  background: #efefef;
  font-family: "Roboto", Arial, sans-serif;
  padding: 4px 8px;
}

h1 {
  text-align: center;
}

button {
  background-color: #0084ee;
  bottom: 20px;
  border-width: 0;
  border-radius: 50%;
  box-shadow: 0px 2.5px 4px 1px #aaa;
  color: white;
  font-size: 20px;
  height: 60px;
  position: fixed;
  right: 20px;
  width: 60px;
  z-index: 10000;
}

button:focus {
  outline: none;
}

button:hover {
  border-style: none;
  background-color: #35a5ff;
}

.puppy-hover {
  opacity: 0.7;
}

#grid-puppies {
  margin-top: 8px;
}

.grid-puppy {
  max-width: 15%;
}

.saved {
  border: 4px solid #00a8e0;
  margin: 2px;
}

/*# sourceMappingURL=style.css.map */
